body{
    overflow-x: hidden;
    margin: 0;
    }
    
    /* <!--- partie sylvain -->
    
    <-- section " LATEST WORK "--> */
    
    
    html:root{
        --blue: rgb(128,201,263);
        --white: #fff;
    }
    
    
    /* Système de grille */
    
    .container-fluid{
        margin:0;
        width: 100%;
    }
    
    
    .container{
        width: 80%;
        max-width: 960px;
        margin:0 auto;
    }
    
    .row{
        width: 100%;
        margin: 0;
    }
    
    .col{
        margin:0;
        padding: 15px;
    
    }
    .col-width{
        max-width: 40%;
        margin-left: 20px ;
    }
    
    /* systeme de flex */
    
    .f-column{
    flex-direction: column;
    }
    
    
    .d-flex{
        display: flex;
    }
    .f-justify-content-center{
        justify-content: center;
    }
    
    .f-justify-content-between{
        justify-content: space-between;  
    
    }
    .justify-content-around{
        justify-content: space-around;
    }
    
    .f-align-items-center{
        align-items:center;
    
    }
    
    .f-wrap{
        flex-wrap: wrap;
    
    }
    
    /* systeme background */
    .background-white{
        background-color: white;
    }
    
    .bg-red{
        background-color: #660000;
        padding-top:50px;
    }
    
    .bg-greylight{
        background-color:#303030;
    }
    
    .bg-darkgrey{
        background-color:#2b2b2b;
    }
    .bg-dark-red{
        background-color: #290000;
    }
    
    /* systeme texte */
    
    .text-upper{
        text-transform: uppercase;
    }
    
    
    .text-color-white{
        color: var(--white);
    }
    .text-size{
        font-size: 61px;
    }
    
    .size-14{
        font-size: 14px;
        margin-top: 0px;
        color: grey;
    }
    
    .size-16{
        font-size: 16px;
        font-weight: normal;
    }
    
    .text-grey{
        color:#979797;
    }
    
    .read{
        font-size: 17px;
        border-radius: 10px;
        width: 150px;
        background-color: #76c38f;
    }
    
    .border-grey{
        border: solid #6b6b6b 27px;
        border-radius: 50%;
    
    }
    
    /* system link */
    a:link, a:visited, a:active{
        text-decoration: none;
        color: var(--white);
       
    }
    
    .activ:hover{
        background-color: #76c38f;
        border-radius: 10px;
    }
    
    
    .m-0{
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .mt-1{
        margin-top:70px;
    }
    
    .mr{
        margin-right: 0px;
    }
    
    .mb-0{
        margin-bottom: 0px;
    }
    
    .p-5{
        padding: 2%;
        padding-left: 25px;
    }
    
    .p-0{
        padding: 0;
    }
    
    /* system list */

    .input-burger{
        opacity: 0;
    }
    
    
    ul:not(.ul-footer){
        list-style: none;
        padding: 0;
    }
    
    ul > li:not(.li-footer-links){
        min-width: 110px;
        text-align: center;
        padding:8px;
        box-sizing: border-box
    }
    
    ul > li.active{
        border: 2px solid var(--blue);
        border-radius: 10px;
    }
    
    /* systeme slider */
    
    .fleche{
        align-self: center;
    }
    
    .slide-hid{
     display: none;
    }
    
    
    /* classe spécifique section title glenn */
    
    .col-serv{
        width: 25%;
        text-align: center;
    }
    .col-serv-dimension{
        width: 227px;
        height: 306px;
    }
    
    
    .img-service{
        width: 120px;
        height: 120px;
        padding-top: 10px;
    }
    
    .service-font{
        font-size: 42.6px;
        color: #333333;
        margin: 0;
        line-height: 40px;
    }
    
    .p-service{
        font-size: 16px;
        color: #333333;
        margin-right: 15px;
        margin-left: 15px;
    }
    
    .col-serv-dimension:hover{
        
        background-color:#76c38f;  
    }
    
    .col-serv-dimension:hover .p-service{
        color: white;
    }
    
    .col-serv-dimension:hover .service-font{
        color: white;
    }
    
    .font-georgia{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .p-service:hover{
        color: white;
    }
    
    /* <-- Section title LATESTE WORK--> */
    
    .pad-bot{
        padding-bottom: 50px;
    }
    
    .latest-work-p{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(246, 246, 250);
        background: rgba(46, 44, 44, 0.733);
        opacity: 0.9;
        height: 20px;
        padding: 5px 0;
        margin: 0;
    
    }
    
    .title-latest-work{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.9rem;
        background-color: #353535;
        color: white;
       border-radius: 10px;
       padding:10px;
    }
    
    .bar{
        background-color: #353535;
        height:4px;
        width: 100%;
        margin-bottom: -30px;
    }
    
    /* <-- Section Photos --> */
    
    .div-photo-size{
        width:290px;
        height:190px;
        border: 5px solid white;
        margin-bottom: 20px;
        
        background-position: center;
        background-size: cover;
        justify-content: flex-end;
    }
    .img-div-photo-size-1{
    background-image: url(../media/crevettes.jpg);
    }
    
    .img-div-photo-size-2{
        background-image: url(../media/paella.jpg);
        }
        .img-div-photo-size-3{
            background-image: url(../media/plat-cuisine.jpg);
            }
    
            .img-div-photo-size-4{
                background-image: url(../media/plats.png);
                }
                .img-div-photo-size-5{
                    background-image: url(../media/poulet.jpg);
                    }


                    .img-div-photo-size-6{
                        background-image: url(../media/torsades.jpg);
                        }
    .img-photo-size{
        width: 290px;
        height: 190px;
    }
    
    .div-photo-size:hover{
        border: 5px solid rgba(91, 230, 91, 0.801);
    }
    
    .div-photo-size:hover p {
    display: none;
    
    }
    
    /* partie desiree */
    
    /*upfooter*/
    .upfooter{
        border-bottom:1px solid #000000;
    }
    
    .col-footer{
        width: 24%;
    }
    
    .footer-col-title-h1{
        font-family: Georgia, serif;
        font-size:20px;
        font-weight: lighter;
        margin-top: 40px;
        margin-bottom: 30px;
        color: white;
    }
    
    .text-footer{
        font-size:15px;
        font-family: Georgia, serif;
        line-height: 22px;
        color: #979797;
    }
    
    /*upfooter_footer-blog*/
    
    .footer-col-title-h2{
        font-family: Georgia, serif;
        font-weight: lighter;
        font-size:18px;
        color: #76c38f;
    }
    
    span{
        color:#76c38f;
    }
    
    .admin{
        font-size:14px;
        color: #979797;
    }
    
    .readmore{
        font-size:17px;
        color: #76c38f;
        margin-bottom: 60px;
    }
    
    .readmore:after{
        content:"\BB \ "; 
        padding-left: 5px;
    }
    
    /*upfooter_footer-link*/
    .quicklinks{
        font-family: Georgia, serif;
        font-size:20px;
        font-weight: lighter;
        margin-top: 40px;
        margin-bottom: 20px;
        color: white;
    }
    
    .ul-footer{
        padding-left: 0px;
    }
    
    .li-footer-links{
        font-size:17px;
        font-family: Georgia, serif;
        list-style-type: none;
        padding-top:12px;
        padding-bottom:8px;
        border-bottom: 1px solid #979797 ;
    }
    
    .ul-footer .li-footer-links:before{
        content:"\BB \ ";
        color:#76c38f;
    }
    
    .ul-footer .li-footer-links a{
        text-decoration: none;
        color:#76c38f;
    }
    
    /*upfooter_footer-contact*/
    
    input[type=text]{
        height: 35px;
        border: 1px solid transparent;
        border-radius: 8px;
        margin-bottom: 10px; 
        font-family: Georgia, serif;
        font-size: 17px;
        color: #979797;
        background-color: #222222;
        padding-left:10px;
        outline: none;
    }
    
    .email{
        height: 35px;
        border: 1px solid transparent;
        border-radius: 8px;
        margin-bottom: 10px; 
        font-family: Georgia, serif;
        font-size: 17px;
        color: #979797;
        background-color: #222222;
        padding-left:10px; 
        outline: none;
    }
    
    textarea{
        height: 80px;
        border: 1px solid transparent;
        border-radius: 8px;
        font-family: Georgia, serif;
        font-size: 17px;
        color: #979797;
        background-color: #222222;
        padding-left:10px;
        padding-top: 8px;
        margin-bottom: 10px;
        outline: none;
    }
    
    .boutonsubmit{
     background-color: #76c38f;   
     border:1px solid transparent;
     height: 35px;
     width:75px;
     border-radius: 8px;
     font-family: Georgia, serif;
    font-size: 12px;
     color: #303030;
    }
    
    input:focus.invalid {
        outline: none;
      }
      
      /* Voici les règles utilisées pour les messages d'erreur */
    
      .error {
        width  : 100%;
        padding: 0;
         font-size: 80%;
        color: white;
        background-color: black;
        border-radius: 0 0 5px 5px;
        box-sizing: border-box;
      }
      
    /*bottom-footer*/
    .bottomfooter{
        border-top:1px solid #3a3a3a ;
    }
    
    
    
.img-photo-size{
    width: 290px;
    height: 190px;
}

.div-photo-size:hover{
    border: 5px solid rgba(91, 230, 91, 0.801);
}

.div-photo-size:hover p {
display: none;

}

/* partie desiree */

/*upfooter*/
.upfooter{
    border-bottom:1px solid #000000;
}

.col-footer{
    width: 24%;
}

.footer-col-title-h1{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 30px;
    color: white;
}

.text-footer{
    font-size:15px;
    font-family: Georgia, serif;
    line-height: 22px;
    color: #979797;
}

/*upfooter_footer-blog*/

.footer-col-title-h2{
    font-family: Georgia, serif;
    font-weight: lighter;
    font-size:18px;
    color: #76c38f;
}

span{
    color:#76c38f;
}

.admin{
    font-size:14px;
    color: #979797;
}

.readmore{
    font-size:17px;
    color: #76c38f;
    margin-bottom: 60px;
}

.readmore:after{
    content:"\BB \ "; 
    padding-left: 5px;
}

/*upfooter_footer-link*/
.quicklinks{
    font-family: Georgia, serif;
    font-size:20px;
    font-weight: lighter;
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
}

.ul-footer{
    padding-left: 0px;
}

.li-footer-links{
    font-size:17px;
    font-family: Georgia, serif;
    list-style-type: none;
    padding-top:12px;
    padding-bottom:8px;
    border-bottom: 1px solid #979797 ;
}

.ul-footer .li-footer-links:before{
    content:"\BB \ ";
    color:#76c38f;
}

.ul-footer .li-footer-links a{
    text-decoration: none;
    color:#76c38f;
}

/*upfooter_footer-contact*/

input[type=text]{
    height: 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 10px; 
    font-family: Georgia, serif;
    font-size: 17px;
    color: #979797;
    background-color: #222222;
    padding-left:10px;
    outline: none;
}

.email{
    height: 35px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 10px; 
    font-family: Georgia, serif;
    font-size: 17px;
    color: #979797;
    background-color: #222222;
    padding-left:10px; 
    outline: none;
}

textarea{
    height: 80px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: Georgia, serif;
    font-size: 17px;
    color: #979797;
    background-color: #222222;
    padding-left:10px;
    padding-top: 8px;
    margin-bottom: 10px;
    outline: none;
}

.boutonsubmit{
 background-color: #76c38f;   
 border:1px solid transparent;
 height: 35px;
 width:75px;
 border-radius: 8px;
 font-family: Georgia, serif;
font-size: 12px;
 color: #303030;
}

input:focus.invalid {
    outline: none;
  }
  
  /* Voici les règles utilisées pour les messages d'erreur */

  .error {
    width  : 100%;
    padding: 0;
     font-size: 80%;
    color: white;
    background-color: black;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
  }
  
/*bottom-footer*/
.bottomfooter{
    border-top:1px solid #3a3a3a ;
}


/*media queries*/ 

/********************* max-width: 1199px ************************/
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1200px) { 
    
.container{
    width: 100%;
    }

.col-footer{
    font-size: 25px;
}
.latest-work-p{

    font-size: 20px;
}
.text-footer{
    font-size: 20px;
}

.li-footer-links{
    font-size: 23px;
}

.p-service{
    font-size: 20px;
}

.size-16{
    font-size: 20px;
}

}
    /*media queries*/ 
    
@media (min-width: 576px) and (max-width: 767.98px) {

/*start header*/
.container{
    width: 85%;
    max-width: 960px;
    margin:0 auto;
}

#menuToggle{
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    }
        
#menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}
        
/*
 * Just a quick hamburger
*/
#menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px; 
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}
        
#menuToggle span:first-child{
    transform-origin: 0% 0%;
}
        
#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}
/* 
     * Transform all the slices of hamburger
     * into a crossmark.
 */

#menuToggle .input-burger:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}
/*
    * But let's hide the middle one.
*/
#menuToggle .input-burger:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
        }
        
    /*
    * Ohyeah and the last one should go the other direction
    */
#menuToggle .input-burger:checked ~ span:nth-last-child(2){
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}
/*
    * Make this absolute positioned
    * at the top left of the screen
*/

#menu{
    position: absolute;
    flex-direction: column;
    width: 500px;
    margin: -100px 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #660000ec;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
        
#menu li{
    padding: 10px 0;
    font-size: 22px;
    margin: 0 auto;
    padding-right:35px;
}
        
/*
    * And let's fade it in from the left
*/

#menuToggle .input-burger:checked ~ ul{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

.li-footer-links{
    font-size: 20px;
}  

.slide{
    flex-direction: column;
}

.border-grey{
    display: none;
}

.col-width{
width: 100%;
max-width: 100%;
margin:0;
padding-left: 0;
}

.mt-1{
    margin-top:60px;
}

.m-0{
    text-align: center;
}

.text-grey{
    text-align: justify;
    margin-top: 50px;
    font-size: 30px;
    line-height: 40px;
    padding: 0 10px;
}

.p-5{
margin: 10px auto;
font-size: 30px;
width: 237px;
}
/*fin header*/

/*debut service title*/
.title-column{
    flex-direction:column;
}

.col-serv-dimension{
    width: 60%;
    margin-bottom: 50px;
    height: 400px;
}

.p-service{
    font-size: 25px;
}
/*fin service title*/

/*latest work*/
.title-justify-center{
    justify-content: center;
}

.title-latest-work{
    margin-bottom:40px;
}

.div-photo-size{
    margin-top:10px;
}

.latest-work-p{
    font-size: 30px;
    padding-bottom: 25px;
}

/*footer*/
.footer-column{
    flex-direction:column;
}

.col-footer{
    width:100%;
}

/*footer*/
.footer-col-title-h1{
    font-size:40px;
}

.footer-col-title-h2{
    font-size:30px;
}

.admin{
    font-size: 25px;
}

.text-footer{
    font-size: 23px;
    line-height: 30px;
}

.readmore{
    font-size: 22px;
    margin-bottom: 20px;
}


.quicklinks{
    font-size:40px;
}

.li-footer-links{
     font-size:25px;
}

input[type=text]{
    height: 50px;
    margin-bottom:15px;
}

textarea{
    margin-bottom: 15px;
}

.boutonsubmit{
    width:130px;
    height: 45px;
    font-size: 18px;
    margin-bottom: 20px;
}

.copyright-section{
    flex-direction: column;
    padding-bottom: 10px;
}

.text-copy{
    font-size: 20px;
    margin: 6px auto;
}


}